@using ResumeApp.Layout.Portal_Layouts
@using ResumeApp.Pages.Components
@inherits LayoutComponentBase

<div class="flex h-screen">
    @* SideBar *@
    <NavigationMenu />
    @* Body*@
    <div class="bg-diagonal-pattern animate-diagonal-move min-h-screen flex-1 overflow-auto bg-repeat py-6 pr-40 pl-80">
        @Body
    </div>
</div>
