@inherits LayoutComponentBase
<div class="page">
    @* SideBar *@
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* Header *@
        <div class="top-row px-4">
            <a href="Contact" target="_blank">Contact</a>
        </div>
        @* Body *@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
