@using ResumeApp.Layout.Portal_Layouts
@using ResumeApp.Pages.Components
@inherits LayoutComponentBase

<div class="bg-checkerboard-pattern animate-diagonal-move -z-100 flex h-screen min-h-screen bg-repeat">
    <div class="absolute inset-0 z-10 bg-gray-900 opacity-55"></div>

    @* SideBar *@
    <NavigationMenu/>
    @* Body*@
    <div class="z-10 min-h-screen flex-1 overflow-auto py-6 pr-40 pl-80">
        @Body
    </div>
</div>
