@inject IStringLocalizer<SharedResource> Loc
@using Microsoft.Extensions.Localization
@attribute [Route(RouteConfig.COMPONENTS)]

<PageTitle>@Loc["Title_Components"]</PageTitle>


<div class="grid-cols-3">
    <div class="flex">
        This is a reference page for some custom components
    </div>
</div>

@code {

}