@inject IStringLocalizer<SharedResource> Loc
@using Microsoft.Extensions.Localization
@attribute [Route(RouteConfig.KOMBUCHA)]

<PageTitle>@Loc["Title_Kombucha"]</PageTitle>

<div class="grid-cols-3">
    <div class="flex">
        I do Kombucha I guess
    </div>
</div>

@code {

}