@inject IStringLocalizer<SharedResource> Loc
@using Microsoft.Extensions.Localization
@page "/components"

<PageTitle>@Loc["ComponentLibrary"]</PageTitle>

<h1 class="text-3xl underline">@Loc["ComponentLibrary"]</h1>

<div class="grid-cols-3">
    <div class="flex">
        This is a reference page for some custom components
    </div>
</div>

@code {

}