@inject IStringLocalizer<SharedResource> Loc
@layout FrontPageLayout
@attribute [Route(RouteConfig.HOME)]

<PageTitle>@Loc["Title_Home"]</PageTitle>


<div class="z-10 overflow-hidden">
    <div class="grid grid-cols-3 grid-rows-1">
        <div class="col-start-3 row-start-1 place-self-center pt-8">
            <ResumeApp.Pages.Components.ProfileCard />
        </div>
    </div>
</div>


@code {

}