@inject IStringLocalizer<SharedResource> Loc
@using Microsoft.Extensions.Localization
@using ResumeApp.Pages.Components
@page "/playground"

<PageTitle>@Loc["Playground"]</PageTitle>

<h1 class="text-3xl underline">@Loc["Playground"]</h1>

<div class="grid-cols-3"> 
    <div class="flex flex-col">
        Attempt to resize your images to 1mb or less!
        <ImageResizer/>
    </div>
</div>

@code {

}