@inject IStringLocalizer<SharedResource> Loc
@attribute [Route(RouteConfig.PROJECTS)]

<PageTitle>@Loc["Title_Projectss"]</PageTitle>

<h1 class="text-3xl">Project Page</h1>

This is where I write about projects and such


@code {

}
